<p-timeline [value]="log.logs" align="alternate">
  <ng-template pTemplate="marker" let-log>
        <span
          class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1">
          {{ MARKERS[log.type] }}
        </span>
  </ng-template>
  <ng-template pTemplate="content" let-log>
    <div class="p-2 border-round w-100">
      <p>{{ log.timestamp | date: 'short' }}</p>
      <h3>{{ prettyTitle(log) }}</h3>
      <p *ngIf="prettyMessage(log)">{{ prettyMessage(log) }}</p>
    </div>
  </ng-template>
</p-timeline>
