<p-fieldset *ngIf="tasks.active" legend="Current Task">
  <p-card [header]="tasks.active.name" [style]="{ 'background-color': 'var(--red-50)' }">
    {{ tasks.active.description }}
    <ng-template pTemplate="footer">
      <div class="flex flex-row-reverse">
        <p-button label="Complete" severity="primary" (onClick)="tasks.completeTask()" />
      </div>
    </ng-template>
  </p-card>
</p-fieldset>

<div class="flex flex-row gap-2">
  <p-fieldset legend="Coming up" class="flex-1">
    <div *ngFor="let task of tasks.queued; index as i">
      <div class="h-1rem w-100" pDroppable (onDrop)="onDrop(i)" (onDragEnter)="onDragEnter($event)" (onDragLeave)="onDragLeave()"></div>
      <p-card [header]="task.name" pDraggable (onDragStart)="onDragStart(i)" (onDragEnd)="onDragEnd()" [style]="{ 'background-color': 'var(--yellow-50)' }">
        {{ task.description }}
        <ng-template pTemplate="footer">
          <div class="flex gap-3">
            <p-button label="Edit" severity="primary" class="w-full" styleClass="w-full" (onClick)="editTask(i)" />
            <p-button label="Remove" severity="danger" class="w-full" styleClass="w-full" (onClick)="removeTask(i)" />
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="h-1rem w-100" pDroppable (onDrop)="onDrop(tasks.queued.length)" (onDragEnter)="onDragEnter($event)" (onDragLeave)="onDragLeave()"></div>

    <div class="flex flex-row gap-2 justify-content-center">
      <p-button label="Add Task" (onClick)="createTask()"></p-button>
      <p-button (onClick)="addExampleTasks()">Add Examples</p-button>
    </div>
  </p-fieldset>

  <p-fieldset legend="Completed" class="flex-1">
    <p-card *ngFor="let task of tasks.completed" [header]="task.name" class="m-1" [style]="{ 'background-color': 'var(--gray-50)' }">{{ task.description }}</p-card>
  </p-fieldset>
</div>
